datacenter= "dc1"
data_dir= "/opt/consul"


advertise_addr = "192.168.1.241"
bind_addr = "192.168.1.241" 

log_level="DEBUG"
log_file = "/var/log/consul/consul.log"

enable_script_checks= true
node_name= "{{ inventory_hostname }}"

retry_join = ["192.168.1.242"]